
<div class = "row">
  <h2> Patient List</h2>
</div>

<table class = "table table-striped table-bordered">
  <thead>
      <tr><th>ID</th>
          <th> First Name</th>
          <th> Last Name </th>
          <th> Email Id</th>
          <th> Actions </th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor = "let employee of employees" >
        <td>{{employee.id}}</td>
          <td> {{ employee.firstName }} </td>
          <td> {{ employee.lastName }} </td>
          <td> {{ employee.emailId }} </td>
          <td>
              <button (click) = "updateEmployee(employee.id)" class = "btn btn-dark"> Update</button>
              <button (click) = "deleteEmployee(employee.id)" class = "btn btn-success" style="margin-left: 10px"> Delete</button>
              <button (click) = "employeeDetails(employee.id)" class = "btn btn-dark" style="margin-left: 10px"> View</button>
          </td>
      </tr>
  </tbody>
</table>
