

<div class="row">
  <div class="card col-md-6 offset-md-3 offset-md-3">
      <div class="row">
          <h3 class="text-center"> Update a Patient </h3>
          <hr />
          <div class="card-body">
              <form (ngSubmit)="onSubmit()">

                  <div class="form-group">
                      <label> First Name</label>
                      <input type="text" class="form-control" id="firstName" [(ngModel)]="patient.firstName"
                          name="firstName">
                  </div>

                  <div class="form-group">
                      <label> Last Name</label>
                      <input type="text" class="form-control" id="lastName" [(ngModel)]="patient.lastName"
                          name="lastName">
                  </div>

                  <div class="form-group">
                      <label> Email Id</label>
                      <input type="text" class="form-control" id="emailId" [(ngModel)]="patient.emailId"
                          name="emailId">
                  </div>
                  <div class="form-group">
                    <label> Age</label>
                    <input type="number" class="form-control" id="age" [(ngModel)]="patient.age"
                        name="age">
                </div>

                <div class="form-group">
                  <label> DateOfVisit</label>
                  <input type="datetime-local" class="form-control" id="dateOfVisit" [(ngModel)]="patient.dateOfVisit"
                      name="visitedDoctor">
              </div>
              <div class="form-group">
                <label> VisitedDoctor</label>
                <input type="text" class="form-control" id="visitedDoctor" [(ngModel)]="patient.visitedDoctor"
                    name="visitedDoctor">
            </div>





              <div class="form-group">
              <label> Prescription</label>
              <input type="text" class="form-control" id="prescription" [(ngModel)]="patient.prescription"
                  name="prescription">
          </div>
          <div>

            <form>

              <tr>

              </tr>

            </form>
          </div>


                  <br />
                  <button class="btn btn-success" type="submit">Submit</button>

              </form>
          </div>
      </div>
  </div>
</div>


