
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

  <ul class = "navbar-nav">
    <li class = "nav-item">
        <a routerLink="doctors" routerLinkActive="active" class="nav-link" >Doctor-list </a>
    </li>
    <li class = "nav-item">
        <a routerLink="create-doctor" routerLinkActive="active" class="nav-link" >Add Doctor</a>
    </li>
</ul>
<ul class = "navbar-nav">
  <li class = "nav-item">
      <a routerLink="patients" routerLinkActive="active" class="nav-link" >Patient List</a>
      
    </li>
  <li class = "nav-item">
      <a routerLink="create-patient" routerLinkActive="active" class="nav-link" >Add Patient</a>
  </li>
</ul>
</nav>
<div class="jumbotron">

<h1 class="text-center"> {{title}} </h1>
<div class = "container">
  <router-outlet></router-outlet>
</div>
</div>
