
<div class="row">
  <div class="card col-md-6 offset-md-3 offset-md-3">
      <div class="row">
          <h3 class="text-center"> Create Doctor </h3>
          <hr />
          <div class="card-body">
              <form (ngSubmit)="onSubmit()">

                  <div class="form-group">
                      <label> First Name</label>
                      <input type="text" class="form-control" id="firstName" [(ngModel)]="doctor.firstName"
                          name="firstName">
                  </div>

                  <div class="form-group">
                      <label> Last Name</label>
                      <input type="text" class="form-control" id="lastName" [(ngModel)]="doctor.lastName"
                          name="lastName">
                  </div>

                  <div class="form-group">
                      <label> Email Id</label>
                      <input type="text" class="form-control" id="emailId" [(ngModel)]="doctor.emailId"
                          name="emailId">
                  </div>
                  <div class="form-group">
                    <label> Age</label>
                    <input type="number" class="form-control" id="age" [(ngModel)]="doctor.age"
                        name="age">
                </div>
                <div class="form-group">
                  <label> Speciality</label>
                  <input type="text" class="form-control" id="speciality" [(ngModel)]="doctor.speciality"
                      name="speciality">
              </div>
              <div class="form-group">
                <label> Gender</label>
                <input type="text" class="form-control" id="gender" [(ngModel)]="doctor.gender"
                    name="gender">
            </div>

                  <br />
                  <button class="btn btn-success" type="submit">Submit</button>

              </form>
          </div>
      </div>
  </div>
</div>
