
<div class = "row">
  <h2> Doctor-list </h2>
</div>

<table class = "table table-striped table-bordered">
  <thead>
      <tr>
        <th>ID</th>
          <th> First Name</th>
          <th> Last Name </th>
          <th> Email Id</th>
          <th>Age</th>
          <th>Specility</th>
          <th>Gender</th>
          <th> Actions </th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor = "let doctor of doctors" >
        <td>{{doctor.id}}</td>
          <td> {{ doctor.firstName }} </td>
          <td> {{ doctor.lastName }} </td>
          <td> {{ doctor.emailId }} </td>
          <td>{{doctor.age}}</td>
          <td>{{doctor.speciality}}</td>
          <td>{{doctor.gender}}</td>
          <td>
              <button (click) = "updateDoctor (doctor.id)" class = "btn btn-success"> Update</button>
              <button (click) = "deleteDoctor(doctor.id)" class = "btn btn-dark" style="margin-left: 10px"> Delete</button>
              <button (click) = "doctorDetails(doctor.id)" class = "btn btn-success" style="margin-left: 10px"> View</button>
          </td>
      </tr>
  </tbody>
</table>
